
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #A37871;
    color: #333;
}
header {
    background-color: #8C7B8E;
    color: #8C7B8E;
    ;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 20px 0;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4381C1; 
    font-weight: bold;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #BEA2C2;
 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #A37871;
    color: #BEA2C2;
    position: relative;
    bottom: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BEA2C2;
    color: #333;
}
header {
    background-color: #A37871;
    color: #030302;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 20px 0;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #4E4B5C;
    font-weight: bold;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #BDADEA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color:  #4E4B5C;
    color: #8C7B8E;
    position: relative;
    bottom: 0;
    width: 100%;
}
